<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kaiwa</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../css/login.css">
</head>
<body>
  {% block image %}
  <img class="displayed" src="../images/chat-icon.png" />
  {% endblock %}
  <h1 style="margin-top:200x">Kaiwa</h1>
  <h1 style="font-size: 100%; padding-top: 0;">Where the conversation begins</h1>
  <div class="container" style="width: 300px;">
    {% block maincontent %}
    {% endblock %}
  </div>
</body>
</html>