{% extends "login-template.html" %}
{% block image %}
{% endblock %}
{% block maincontent %}
<form class="form" action= "/signup" method="POST">
  <input class="form-control top-buffer" type="text" name="e-mail" placeholder="E-mail">
  <input class="form-control top-buffer" type="text" name="username" placeholder="Username">
  <input class="form-control top-buffer" type="password" name="password" placeholder="Password">
  <input class="form-control top-buffer" type="password" name="password" placeholder="Re-type Password">
  <button class="btn pull-right top-buffer" type="submit">Sign up</button>
</form>
{% endblock %}
