<!DOCTYPE html>
<html>
<head>
  <title>Convo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/images/icon.ico">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/template.css">
</head>
<body>
  <div data-role="page" id="pageone">
  <div data-role="header">
    <a href="/home" class="header-btn" data-icon="home" id="home-btn">Home</a>
    <h1 id="my-top-header"></h1>
    <a href="#" class="header-btn" data-icon="plus">Add Contact</a>
  </div>

  <div data-role="content" class="ui-content" id="main-content">

    <div class="contacts-container">
      <ul data-role="listview" data-autodividers="true" data-filter="true" id="contacts-list">
        {% for name in names %}
          <li><a href="#" id={{ name }}>{{ name }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="chat-list-container">
      <ul data-role="listview" id="contacts-list">
        {% for name in names %}
          <li><a href="#" id={{ name }}>{{ name }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="chat-container">
      <div class="row">
        <div class="col-md-5">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-comment"></span>
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <ul class="dropdown-menu slidedown">
                  <li><a href="#"><span class="glyphicon glyphicon-refresh">
                  </span>Refresh</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-ok-sign">
                  </span>Available</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-remove">
                  </span>Busy</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-time"></span>
                    Away</a></li>
                  <li class="divider"></li>
                  <li><a href="#"><span class="glyphicon glyphicon-off"></span>
                    Sign Out</a></li>
                </ul>
              </div>
            </div>
            <div class="panel-body">
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input id="btn-input" type="text" class="form-control input-sm" autofocus="autofocus" placeholder="Type your message here..." />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-warning btn-sm" id="send-msg-btn">
                            Send</button>
                    </span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="settings-container">
      <button type="button" id="pref-btn">Preferences</button>
      <button type="button" id="logout-btn">Logout</button>
  </div>

  <div data-role="footer">
    <div data-role="navbar">
      <ul>
        <li><a href="#" data-role="button" data-icon="grid" id="contacts-btn"></a></li>
        <li><a href="#" data-role="button" data-icon="home" id="chatrm-btn"></a></li>
        <li><a href="#" data-role="button" data-icon="gear" id="settings-btn"></a></li>
      </ul>
    </div>
  </div>
</div>

  <script id="messages" type="text/x-jQuery-tmpl">
    <ul class="chat" id="chatroom-msgs-${name}"></ul>
  </script>

  <script id="buddyMsg" type="text/x-jQuery-tmpl">
    <li class="left clearfix">
      <span class="chat-img pull-left">
        <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
      </span>
      <div class="chat-body clearfix">
        <div class="header">
          <strong class="primary-font"> ${username} </strong>
          <small class="pull-right text-muted"> <span class="glyphicon glyphicon-time"></span> ${time} </small>
        </div>
        <p> ${msg} </p>
      </div>
    </li>
  </script>

  <script id="userMsg" type="text/x-jQuery-tmpl">
    <li class="right clearfix">
      <span class="chat-img pull-right">
        <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
      </span>
      <div class="chat-body clearfix">
        <div class="header">
          <small class=" text-muted"><span class="glyphicon glyphicon-time"></span> ${time} </small>
          <strong class="pull-right primary-font"> ${username} </strong>
        </div>
        <p> ${msg} </p>
      </div>
    </li>
  </script>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="../scripts/sinch.min.js"></script>
  <script src="../scripts/template.js"></script>
  <script src="../scripts/utilities.js"></script>
  <script src="../scripts/controls.js"></script>
</body>
</html>
