<!DOCTYPE html>
<html>
<head>
    <title>Convo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/icon.ico">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<style>
[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;}
</style>
</head>
<body>
    <div data-role="page" id="pageone">
        <div data-role="header">
        <h1>My Convos</h1>
    </div>


        
  <div data-role="main" class="ui-content">
    <p>My Content..</p>
  </div>
        

  <div data-role="footer">
       <div data-role="navbar">
         <ul>
             <li><a href="#" data-role="button" data-icon="grid"></a></li>
             <li><a href="#" data-role="button" data-icon="home"></a></li>
             <li><a href="#" data-role="button" data-icon="gear"></a></li>
         </ul> 
     </div>
  </div>
</div> 
</body>
</html>