    @font-face {
      font-family: 'LeviBrush';
      /*a name to be used later*/
      src: url('fonts/Levi_Brush.ttf');
      /*URL to font*/
    }
    @font-face {
      font-family: 'ChampagneLimousines';
      src: url('fonts/Champagne_Limousines.ttf');
    }

    .navbar {
      margin: 0;
    }
    .navbar p {
      color: white;
      font-size: 100%;
      font-family: 'LeviBrush';
      text-align: center;
    }

    .modal-container {
      display: none;
    }

    .list-group {
      display: none;
    }

    .chat-container {
      position: relative;
      height: auto;
    }
    .panel-body {
      /*background: #e5e5e5;*/
      overflow-y: scroll;
      height: 520px;

      border-style: solid;
      border-width:5px;
      border-color:red;
      margin-left:auto;
      margin-right:auto;
      /*height:452px;*/
    }
    .msgBody {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .msgBody li {
      margin-bottom: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid #B3A9A9;
    }
    .msgBody li.left .msgBody-row {
      margin-left: 60px;
    }
    .msgBody li.right .msgBody-row {
      margin-right: 60px;
      margin-left: 60px;
    }
    .msgBody li .msgBody-row p {
      margin: 0;
      color: #777777;
    }

    .full-width-tabs > ul.nav.nav-tabs {
      display: table;
      width: 100%;
      table-layout: fixed;
      border: 100px;
    }
    .full-width-tabs > ul.nav.nav-tabs > li {
      float: none;
      display: table-cell;
    }
    .full-width-tabs > ul.nav.nav-tabs > li > a {
      text-align: center;
      border-radius: 5px;
      padding-top: 13px;
      padding-bottom: 13px;
    }
    li {
      width: 100%;
    }
    a {
      color: white;
      font-family: 'ChampagneLimousines';
    }
